meta(charset='UTF-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name='viewport' content='width=device-width, initial-scale=1.0')

base(href="/")

title Deepak Gangwar | Portfolio '22

meta(name='author' content='Deepak Gangwar')
meta(name='copyright' content='Copyright (c) 2021 Deepak Gangwar.')
meta(name='description' content='Frontend Developer working with a broad range of clients focusing on design and motion')

meta(name='robots' content='index, follow')
meta(name='googlebot' content='index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1')
meta(name='bingbot' content='index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1')

link(rel='canonical' href='')

// You have to include the full URL (relative paths don't work)
meta(property='og:locale' content='en_US')
meta(property='og:type' content='website')
meta(property='og:title' content='Home - Deepak Gangwar')
meta(property='og:description' content='')
meta(property='og:url' content='')
meta(property='og:site_name' content='')
meta(property='article:modified_time' content='2021-05-18T16:53:45+00:00')
meta(property='og:image' content='')
meta(property='og:image:alt' content='')
meta(property='og:image:width' content='1200')
meta(property='og:image:height' content='630')

meta(name='twitter:card' content='summary_large_image')
meta(name='twitter:site' content='@site_account')
meta(name='twitter:description' content='')
meta(name='twitter:title' content='')
meta(name='twitter:image' content='')
meta(name='twitter:image:alt' content='')

link(rel='manifest' href='/site.webmanifest')

meta(name='theme-color' content='#fff')

meta(name='apple-mobile-web-app-capable' content='yes')
meta(name='mobile-web-app-capable' content='yes')
meta(name='apple-touch-fullscreen' content='YES')
link(rel='apple-touch-startup-image' href='')
meta(name='apple-mobile-web-app-title' content='')

// Name of web application (only should be used if the website is used as an app)
meta(name='application-name' content='')

link(rel='icon' href='' sizes='32x32')
link(rel='icon' href='' sizes='192x192')
link(rel='apple-touch-icon' href='')

meta(name='msapplication-TileImage' content='')

// Preload font files woff and woff2
//- link(rel="preload" as="font" href="fonts/saol_display-regular.woff2" type="font/woff2" crossorigin="anonymous")

//- link(href="main.css" rel="stylesheet")

link(rel='stylesheet' href='' type='text/css' media='all')
link(rel='stylesheet' href='' type='text/css' media='print')
style.

script(type='text/javascript' src='' id='')
script(type='text/javascript' src='' id='')
script.