noscript
    | &quot;
    #no-js
        strong
            | Oops! This site cannot function properly without Javascript. Try to activate it or use a modern browser.
    style.
        body{margin: 0; overflow: hidden;} *{box-sizing: border-box;} strong{text-align: center;} #no-js{font-family: sans-serif; width: 100vw; padding: 0 20vw; height: 100vh; display: flex; justify-content: center; align-items: center; font-size: 3vw; position: fixed; top: 0; left: 0; background: #fff}
    | &quot;