.slider.js-slider
  .slider__inner.js-slider__inner
    .slide.js-slide
      .slide__title Beyond b.
      .slide__bg
    .slide.js-slide
      .slide__title Aldo
      .slide__bg
    .slide.js-slide
      .slide__title Vistaprint
      .slide__bg
    .slide.js-slide
      .slide__title Fova
      .slide__bg
    .slide.js-slide
      .slide__title Mailchimp
      .slide__bg
    .slide.js-slide
      .slide__title Motions
      .slide__bg
    .slide.js-slide
      .slide__title Google
      .slide__bg
    .slide.js-slide
      .slide__title Trash
      .slide__bg
.text.text--bottom-left Drag to explore