.slider.js-slider
  //- .slider__progress.js-progress
    .slider__progress-bar.js-progress-bar
  .slider__inner.js-slider__inner
    .slide.js-slide
      .slide__title &nbsp; 
      img.slide__bg(src='https://images.unsplash.com/photo-1659886067667-1a5ae2aefeab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxODJ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60')
    .slide.js-slide
      a.slide__title Beyond b.
      img.slide__bg(src='https://images.unsplash.com/photo-1659886067667-1a5ae2aefeab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxODJ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60')
    .slide.js-slide
      a.slide__title Aldo
      img.slide__bg(src='https://images.unsplash.com/photo-1659886067667-1a5ae2aefeab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxODJ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60')
    .slide.js-slide
      a.slide__title Vistaprint
      img.slide__bg(src='https://images.unsplash.com/photo-1659886067667-1a5ae2aefeab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxODJ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60')
    .slide.js-slide
      a.slide__title Fova
      img.slide__bg(src='https://images.unsplash.com/photo-1659886067667-1a5ae2aefeab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxODJ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60')
    //- .slide.js-slide
    //-   a.slide__title Mailchimp
    //-   img.slide__bg(src='https://images.unsplash.com/photo-1659886067667-1a5ae2aefeab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxODJ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60')
    //- .slide.js-slide
    //-   a.slide__title Motions
    //-   img.slide__bg(src='https://images.unsplash.com/photo-1659886067667-1a5ae2aefeab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxODJ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60')
    //- .slide.js-slide
    //-   a.slide__title Google
    //-   img.slide__bg(src='https://images.unsplash.com/photo-1659886067667-1a5ae2aefeab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxODJ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60')
    //- .slide.js-slide
    //-   a.slide__title Trash
    //-   img.slide__bg(src='https://images.unsplash.com/photo-1659886067667-1a5ae2aefeab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxODJ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60')
    .slide.js-slide
      .slide__title &nbsp; 
      img.slide__bg(src='https://images.unsplash.com/photo-1659886067667-1a5ae2aefeab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxODJ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60')
  .text.text--bottom-left Drag to explore
  .heading 
    .heading__title 
      | The 
      br
      | Regeneration 
      br
      | Suite