doctype html
html(lang="en")
    head
        include ./views/partials/head
        include ./views/partials/noscript
        
    body 
        main.app
            .app__wrapper
                .webgl__wrapper     
                    canvas.webgl 
                include ./views/partials/slider
                .header
                .cursor__wrapper    
                    .cursor
                .page-transition 
                .preloader

        script(src="main.js") 