body, html{
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body{
  font-family: 'Canela';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  background-color: #0D0E13;
  color: #FFFFFF;
}

canvas {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

img{
  display: block;
  width: 100%;
  height: auto;
}

.smooth-scroll__content {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}