@font-face {
    font-family: 'Canela';
    src: url('../assets/fonts/Canela-Light.woff2') format('woff2'),
        url('../assets/fonts/Canela-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

