@import 'utils/variables';
@import 'utils/functions';
@import 'utils/responsive';
@import 'utils/mixins';
@import 'utils/shame';

@import 'base/typography';
@import 'base/reset';
@import 'base/base';

@import 'mixins/typeset';

@import 'components/preloader';

@import 'pages/home/slider';